.grid {
  display: grid;
  /* grid-template-columns: repeat(270, 50px); */
  /* grid-template-rows: repeat(8, 30px); */
  align-items: center;
  grid-gap: 0px;
}

.span-30 {
  grid-column: span 30;
}
.span-31 {
  grid-column: span 31;
}
.span-28 {
  grid-column: span 28;
}

.month {
  grid-row-start: 1;
  /* grid-column: span 30; */
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.week {
  grid-row-start: 2;
  grid-column: span 5;
  padding: 5px;
  margin-top: -1px;

  /* border-top: 1px solid #ccc; */
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.day {
  grid-row-start: 4;
  padding: 5px;
  margin-top: -1px;

  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.dow {
  grid-row-start: 3;
  padding: 8px;
  width: 1.3rem;
  margin-top: -1px;

  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.vac {
  grid-row-start: 5;
  height: 30px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.content {
  width: 100px;
}

.grid {
  /* width: 100%; */
}
