$g-color: rgba(238, 238, 63, 0.9);
$u-color: rgba(66, 219, 219, 0.9);
$e-color: rgba(156, 66, 66, 0.9);
$table-border-color: #ccc;

%cell {
  border-left: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

%fixed-cell {
  @extend %cell;

  width: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.planner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-bottom: 15px;

  .emps-table {
    flex-grow: 0;
    flex-shrink: 0;

    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: 153px;
    width: 200px;

    border-left: 1px solid $table-border-color;
    // border-right: 1px solid $table-border-color;

    :first-child {
      border-top: 1px solid $table-border-color;
    }

    .emps-col {
      border-bottom: 1px solid $table-border-color;
      padding: 5px;
    }
  }

  .calendar-table {
    display: inline-grid;
    grid-gap: 0px;

    overflow-x: scroll;
    text-align: center;
    border-top: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;
    // border-bottom: 1px solid $table-border-color;

    .month {
      @extend %cell;

      grid-row-start: 1;
      padding: 5px;
      font-weight: 700;
    }

    .week {
      @extend %cell;

      grid-row-start: 2;
      grid-column: span 5;
      padding: 5px;
      text-align: center;
    }

    .dow {
      @extend %fixed-cell;

      grid-row-start: 3;
      padding: 8px;
      font-weight: 600;
    }

    .day {
      @extend %fixed-cell;

      grid-row-start: 4;
      padding: 8px;
    }

    .event {
      @extend %fixed-cell;

      padding: 5px;
      min-height: 35px;
      cursor: default;
      user-select: none;
    }

    .g {
      background-color: $g-color;
    }
    .u {
      background-color: $u-color;
    }
    .e {
      background-color: $e-color;
    }
  }
}

.button-menu {
  display: flex;

  button {
    margin: 2px;
  }
}
