/* Variables */

$g-color: rgba(238, 238, 63, 0.9);
$u-color: rgba(66, 219, 219, 0.9);
$e-color: rgba(156, 66, 66, 0.9);
$table-border-color: #ccc;

$dark-fg: #212529;
$light-fg: #fcfcfc;

/* Variables - END */

/* Functions */

%cell {
  border-left: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

%fixed-cell {
  @extend %cell;

  width: 50px;
}

@function autoTextColor($color) {
  @if (lightness($color) > 50) {
    @return $dark-fg; // Lighter background, return dark color
  } @else {
    @return $light-fg; // Darker background, return light color
  }
}
/* Functions - END */

/* Style */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.brand-logo {
  font-size: 30px;
}

.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-bottom: 15px;

  .emps-table {
    flex-grow: 0;
    flex-shrink: 0;

    display: inline-flex;
    flex-direction: column;
    padding-top: 151px;
    width: 200px;

    border-left: 1px solid $table-border-color;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;

    .emps-col {
      border-bottom: 1px solid $table-border-color;
      padding: 5px;

      &:first-child {
        border-top: 1px solid $table-border-color;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .calendar-table {
    display: inline-grid;
    grid-gap: 0px;

    overflow-x: scroll;
    text-align: center;
    border-top: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    border-left: 1px solid $table-border-color;

    .month {
      @extend %cell;

      grid-row-start: 1;
      padding: 5px;
      font-weight: 700;
    }

    .week {
      @extend %cell;

      grid-row-start: 2;
      grid-column: span 5;
      padding: 5px;
      text-align: center;
    }

    .dow {
      @extend %fixed-cell;

      grid-row-start: 3;
      padding: 8px;
      font-weight: 600;
    }

    .day {
      @extend %fixed-cell;

      grid-row-start: 4;
      padding: 8px;
    }

    .holiday {
      background-color: lightcoral;
    }

    .event {
      @extend %fixed-cell;

      padding: 5px;
      min-height: 35px;
      cursor: default;
      user-select: none;
    }

    .g {
      background-color: $g-color;
    }
    .u {
      background-color: $u-color;
    }
    .e {
      background-color: $e-color;
    }
  }
}

.button-menu {
  display: flex;

  button {
    margin: 2px;

    &.active {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      border-color: rgba(0, 123, 255, 0.25);
      font-weight: bold;
    }
  }

  .btn-g {
    background-color: $g-color;
    color: autoTextColor($g-color);
    border-color: darken($g-color, 20%);
  }

  .btn-e {
    background-color: $e-color;
    color: autoTextColor($e-color);
    border-color: darken($e-color, 20%);
  }

  .btn-u {
    background-color: $u-color;
    color: autoTextColor($u-color);
    border-color: darken($u-color, 20%);
  }
}
